
body{
	background: #EEE;
	font-size: 13px;
	line-height: 1.42857143;
	color: #404040;
}




/*Generic*/
.bottom-space {
    margin-bottom: 20px;

}

.bottom-space-lg {
    margin-bottom: 40px;

}

.bottom-space-sm {
    margin-bottom: 10px;
}

.bottom-space-xsm {
    margin-bottom: 7px;
}

.pull-center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.clearfix {
	clear: both;

}

a.no-decoration {
	text-decoration: none !important;

}

h1 {
    margin: .67em 0;
}

.navbar-default .navbar-nav > li > a {
    color: #636e72;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h1, h1 {
    font-size: 33px;
}

.h2, h2 {
    font-size: 27px;
}

.h3, h3 {
    font-size: 23px;
}

.h4, h4 {
    font-size: 17px;
}

.h5, h5 {
    font-size: 14px;
}

.h6, h6 {
    font-size: 12px;
}


/*table*/

*, *::after, *::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 18px;
}

.table > thead > tr > th {
    border-bottom-width: 2px;
    font-weight: 700;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > thead > tr > th {
    padding: 12px 10px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table > caption + thead > tr:first-child > td, 
.table > caption + thead > tr:first-child > th, 
.table > colgroup + thead > tr:first-child > td, 
.table > colgroup + thead > tr:first-child > th, 
.table > thead:first-child > tr:first-child > td, 
.table > thead:first-child > tr:first-child > th {
    border-top: 0;
}

.table > tbody > tr > td {
    font-weight: 400;
    vertical-align: middle;
}

.table.table-borderless > tbody > tr  > td {
	border : 0;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f5f5f5;
}


/*Panel*/

.panel {
    background-color: #fff;
    margin-bottom: 5px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.04);
    border-width: 0;
    border-radius: 3px;
    border: 1px solid #dddfe2;
}

.panel-default {
    *border-color: #ddd;
}


.panel-default > .panel-heading {
    color: #2d3436;
    background-color: transparent;
    border-color: #ddd;
}

.panel-heading {
	padding: 20px 20px 10px;
	border-bottom: 1px solid transparent;
    font-size: 18px;
    font-weight: 300;
    padding-left: 0;
    padding-right: 0;
    margin: 0 20px;
    border-bottom-width: 0;
    border-radius: 3px 3px 0 0;
}

.panel-heading .tools {
    float: right;
}

.panel-heading .tools .icon {
    display: inline-block;
    font-size: 20px;
    line-height: 25px;
    vertical-align: middle;
    cursor: pointer;
    color: #bababa;
    min-width: 20px;
    text-align: center;
}

.panel-heading-divider .panel-subtitle {
    margin-bottom: 0;
}

.panel-heading-divider {
    border-bottom: 1px solid #d9d9d9;
    margin: 0 20px 8px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 16px;
}

.panel-subtitle {
    display: block;
    font-size: 13px;
    color: #707070;
    margin-bottom: 6px;
}


.panel-table .panel-body {
    padding: 0;
    border-radius: 0 0 3px 3px;
}

.panel-table table {
    margin-bottom: 0;
}

.panel-table thead tr th {
    padding-top: 15px;
    padding-bottom: 10px;
}

.panel-table tr td:first-child, .panel-table tr th:first-child {
    padding-left: 20px;
}

.panel-table tr td:last-child, .panel-table tr th:last-child {
    padding-right: 20px;
}



/*
BUTTONS, INPUT, SELECT, TEXTAREA 
*/


button {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
    border: 1px solid transparent;
    padding: 0 10px;
    font-size: 13px;
    line-height: 28px;
    border-radius: 2px;
}

.btn.active.focus, 
.btn.active:focus, 
.btn.focus, 
.btn.focus:active, 
.btn:active:focus, 
.btn:focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}

.btn.focus, 
.btn:focus, 
.btn:hover {
    color: #404040;
    text-decoration: none;
}


.btn-hspace, .btn-space {
    margin-right: 5px;
}

.btn-space, .btn-vspace {
    margin-bottom: 5px;
}

.btn-primary {
    color: #fff;
    background-color: #4285f4;
    border-color: #4285f4;
}

.btn-primary.hover, .btn-primary:hover {
    box-shadow: inset 0 -1px 0 #1266f1;
    background-color: #4c8bf5;
    border-color: #4c8bf5 #4c8bf5 #1266f1;
    color: #fff;
}

.btn-primary.active.focus, 
.btn-primary.active:focus, 
.btn-primary.active:hover, 
.btn-primary.focus:active, 
.btn-primary:active:focus, 
.btn-primary:active:hover, 
.open > .dropdown-toggle.btn-primary.focus, 
.open > .dropdown-toggle.btn-primary:focus, 
.open > .dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #2572f2;
    border-color: #0c57d3 transparent transparent;
    box-shadow: inset 0 2px 0 #1266f1;
}


.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    box-shadow: inset 0 2px 0 #1266f1;
    background-color: #2572f2;
    border-color: #0c57d3 #2572f2 #2572f2;
    background-image: none;
}

.btn-default.focus, 
.btn-default:focus {
    outline: 0;
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
}

.btn-default, 
.btn-default.focus, 
.btn-default:focus {
    color: #404040;
    border-color: #dedede;
    background-color: #fff;
}

.btn-default.hover, 
.btn-default:hover {
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #fff;
    border-color: #bdbdbd;
}


.btn-danger {
    color: #fff;
    background-color: #ea4335;
    border-color: #ea4335;
}

.btn-danger.hover, 
.btn-danger:hover {
    box-shadow: inset 0 -1px 0 #d62516;
    background-color: #eb4c3e;
    border-color: #eb4c3e #eb4c3e #d62516;
    color: #fff;
}


.btn-danger.active, 
.btn-danger:active, 
.btn-danger:hover, 
.open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #d62516;
    border-color: #b51f13;
}

.btn-danger.active, 
.btn-danger:active, 
.open > .dropdown-toggle.btn-danger {
    color: #fff;
    box-shadow: inset 0 2px 0 #d62516;
    background-color: #e72919;
    border-color: #b51f13 #e72919 #e72919;
    background-image: none;
}

.btn-warning {
    color: #fff;
    background-color: #fbbc05;
    border-color: #fbbc05;
}


.btn-warning.hover, 
.btn-warning:hover {
    box-shadow: inset 0 -1px 0 #ca9703;
    background-color: #fbbf0f;
    border-color: #fbbf0f #fbbf0f #ca9703;
}

.btn-warning.active, 
.btn-warning:active, 
.btn-warning:hover, 
.open > .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #ca9703;
    border-color: #a77d03;
}

.btn-warning.active, 
.btn-warning:active, 
.open > .dropdown-toggle.btn-warning {
    color: #fff;
    box-shadow: inset 0 2px 0 #ca9703;
    background-color: #dea604;
    border-color: #a77d03 #dea604 #dea604;
    background-image: none;
}

.btn-success {
    color: #fff;
    background-color: #34a853;
    border-color: #34a853;
}

.btn-success.hover, 
.btn-success:hover {
    box-shadow: inset 0 -1px 0 #288140;
    background-color: #36b057;
    color: #fff;
    border-color: #36b057 #36b057 #288140;
}

.btn-success.active, 
.btn-success:active, 
.open > .dropdown-toggle.btn-success {
    color: #fff;
    box-shadow: inset 0 2px 0 #288140;
    background-color: #2d9147;
    border-color: #206632 #2d9147 #2d9147;
    background-image: none;
}


/*FORM CONTROL */

.form-control, output {
    line-height: 1.42857143;
    color: #404040;
    display: block;
}

.form-control {
    width: 100%;
    height: 48px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d5d8de;
    border-radius: 2px;
}

.form-control {
    border-width: 1px;
    border-top-color: #bdc0c7;
    box-shadow: none;
    padding: 5px 12px;
    font-size: 15px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    height: 34px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #b2d0c6;
    outline: 0;
}

.form-control.dark{
    background: #eee !important;
    border-color: #eee !important;
}

.form-group [type=checkbox] {
	margin-top: 15px;
}



.input-lg {
    height: 57px;
    padding: 12px 14px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.7;
}


.input-sm {
    height: 37px;
    font-size: 13px;
    padding: 4px 12px;
    line-height: 1.6;
    border-radius: 2px;
}


.input-xs {
    height: 30px;
    font-size: 12px;
    padding: 6px 9px;
}




/*CONTROL LABELS*/

label {
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 8px;
    color: #636e72;
}

.form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 11px;
}


/*CHECKLIST BOX */

.checklist {
	padding-top:  13px;
}

.checklist .form-group{
    margin-bottom: 5px !important;
}



.checklist-box {

	padding-top: 10px;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    height: auto;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d5d8de;
    border-radius: 2px;
}

.checklist-box .checklist-item {
	width: 100%;
	float: left;
}

.checklist-box .checklist-item  [type=checkbox]{
	margin-top: 4px;
}


.checklist-box .control-label{
	text-align: left;
	padding: 2px 0;
}


/*ALERTS*/

.alert, .thumbnail {
    margin-bottom: 18px;
}

.alert-dismissable, .alert-dismissible {
    padding-right: 38px;
}

.alert-dismissible.alert-success .close {
    color: #103319;
}

.alert .icon {
    font-size: 24px;
    color: #fff;
    vertical-align: middle;
    margin-right: 20px;
    line-height: 22px;
}

.alert .close {
    position: absolute;
    font-size: 20px;
    top: 21px;
    right: 18px;
    text-shadow: none;
}

.alert {
    padding: 18px;
    border: 1px solid transparent;
    border-radius: 2px;
    position: relative;
    line-height: 25px;
    border-width: 0;
    margin: 15px;
}

.alert-success {
    background-color: #34a853;
    border-color: #34a853;
    color: #fff;
}

.alert-primary {
    background-color: #4285f4;
    border-color: #4285f4;
    color: #fff;
}

.alert-warning {
    background-color: #fbbc05;
    border-color: #fbbc05;
    color: #fff;
}

.alert-danger {
    background-color: #ff7675;
    border-color: #ff7675;
    color: #fff;

}


.alert-simple {
    border: 1px solid #d4d4d4;
    background-color: #fff;
    color: #404040;
}


.alert-simple.alert-success > .icon {
    color: #34a853;
}

.alert-simple.alert-primary > .icon {
    color: #4285f4;
}

.alert-simple.alert-warning > .icon {
    color: #fbbc05;
}

.alert-simple.alert-danger > .icon {
    color: #ea4335;
}


/*TEXT */

.text-primary {
    color: #4285f4;
}

.text-warning {
    color: #fbbc05;
}

.text-danger {
    color: #ea4335;
}

.text-success {
	 color:  #34a853;
}




/* ICONS */
.icon-primary {
	 color:  #4285f4;
}

.icon-success {
	 color:  #34a853;
}

.icon-warning {
	 color: #fbbc05;
}

.icon-danger {
	 color: #ea4335;
}



.icon-standard.mdi {
	font-size: 16px;
	margin: 0 5px;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}
.no-padding-bottom {
    padding-bottom: 0 !important;
}


.no-padding-left-md {
    padding-left: 0;
}

.no-padding-right-md {
    padding-right: 0;
}

.no-padding-top-md {
    padding-top: 0;
}
.no-padding-bottom-md {
    padding-bottom: 0;
}

.no-margin {
    margin: 0 !important;
}


.background-color-lightblue {
    background-color: #596aa0 !important;
}

.background-color-darkblue {
    background-color: #3a3b69 !important;
}


.background-color-purple {
    background-color:  #473e5d !important;
}


.background-color-orange {
    background-color:  #fba037 !important;
}


.background-color-grey {
    background-color: #90949c !important;
}

.panel-default.background-color-darkblue   > .panel-heading {
    color: #333;
    background-color: transparent;
    border-color: #596aa0;
}

.text-color-flat-purple {
    color: #a29bfe !important;
}
.text-color-flat-dark-purple {
    color : #6c5ce7 !important;
}

.text-color-flat-orange {
    color : #fab1a0 !important;
}

.text-color-flat-dark-orange {
    color : #e17055 !important;
}


.text-color-flat-yellow {
    color : #ffeaa7 !important;
}


.text-color-flat-dark-yellow {
    color : #fdcb6e !important;
}

.text-color-flat-green {
    color : #55efc4 !important;
}

.text-color-flat-dark-green {
    color : #00b894 !important;
}






.background-color-fmb-green {
    background-color: #636e72 !important;
}


.background-color-flat-purple {
    background-color: #a29bfe !important;
}

.background-color-flat-dark-purple {
    background-color : #6c5ce7 !important;
}

.background-color-flat-orange {
    background-color : #fab1a0 !important;
}

.background-color-flat-dark-orange {
    background-color : #fdcb6e !important;
}

.background-color-flat-dark-red {
    background-color : #e17055 !important;
}


.background-color-flat-yellow {
    color : #ffeaa7 !important;
}


.background-color-flat-dark-yellow {
    color : #fdcb6e !important;
}

.background-color-flat-green {
    background-color : #78e08f !important;
}

.background-color-flat-dark-green {
    background-color : #00b894 !important;
}

.background-color-flat-dark-grey {
    background-color : #636e72 !important;
}

.background-color-flat-light-purple{
    background-color: #a29bfe !important;
}

.background-color-flat-egg-blue{
    background-color: #00cec9 !important;
}

.background-color-white{
    background-color: #fff !important;
}



.text-color-white {
    color: #fff !important;
}

.text-color-very-light-grey {
    color: #ddd !important;
}

.text-color-dark-blue {
    color: #31376b !important;
}

.text-color-purple {
    color: #473e5d !important;
}

.text-color-orange {
    color:  #7a7883 !important;
}


.text-color-blueberry-soda {
    color:  #7f8fa6 !important;
}


.btn-orange {
    background: #eba142;
    color: #473e5d;
}


.no-border {
    border-width: 0 !important;
}

.checklist {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}



/*


*/

#header {
	background-color: #fff;
	height: 80px;
	border: 0;
	margin-bottom: 0;
	border-bottom: 1px solid #dddfe2;
}

#header .logo-container {
	padding-top: 20px;
	padding-bottom: 20px;
    padding-left: 20px;
}

#header .logo {
    width: 150px;
    height: 40px;
}

#header .logo  img{
	height: 40px;
}


#header .navs-container .navbar-nav {
	margin-right: 0 !important;
}

#header .user-nav {
	padding-top: 20px;
	padding-bottom: 20px;
}

#header .user-nav .icon-circle{
	background: #dfe6e9;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	padding: 0;
	text-align: center;
}

#header .user-nav .icon-circle .icon {
	color: #6c5ce7;
	font-size: 25px;
	line-height: 45px;
}

#header .user-nav .user-info {
	background-color: #6c5ce7;
	color: #fff;
	overflow: hidden;
	padding: 20px 15px 14px;
	border-radius: 2px 2px 0 0;
	margin-bottom: 7px;
}


#header .user-nav .dropdown-menu {
	width: 200px;
	padding: 0;
	margin-top: 20px;
	border-radius: 3px;
	box-shadow: 0 0 6px 0 rgba(0,0,0,.12);
	border: 1px solid #e3e3e3;
}


#header .user-nav .dropdown-menu li a {
	color: #504e4e;
	padding: 10px 20px;
}

/*

	Navigation

*/

#header .navigation {
	padding-top: 15px;
}


#header .navigation .icon {
	font-size: 25px;
	*line-height: 45px;
}


#header .navigation > .open > a, 
#header .navigation > .open > a:focus, 
#header .navigation > .open > a:hover {
    color: #1b5f5e;
    background-color: #fff;
}

#header .navigation .dropdown-menu {
	margin-top: 15px;
	width: 300px;
	border-radius: 3px;
	padding: 0;
	box-shadow: 0 2px 6px rgba(0,0,0,.08);
	border: 1px solid #e0e0e0;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

#header .navigation .dropdown-menu .navigation-content {
	padding: 20px 15px;
}

#header .navigation .dropdown-menu .navigation-item {
	text-align: center;
	margin-bottom: 10px;
}

#header .navigation .dropdown-menu .navigation-item span{
	display: block;
	color: #737373;
}

#header .navigation .dropdown-menu .navigation-item .icon{
	color: #fba037;
}

#header .navigation .dropdown-menu .navigation-footer{
	background: 
}

#header .navigation .dropdown-menu .navigation-footer a {
    background-color: #fafafa;
    font-size: 13px;
    color: #8a8a8a;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ebebeb;
    display: block;
    outline: 0;
}


#content-section {
	margin-top: 90px;
}



.stat-badge {
    border-radius: 3px;
    *background:  #473e5d;
    padding-top: 20px;
    padding-bottom: 20px;

}

.stat-badge i {
    font-size : 50px;
    color: #81ecec;
    line-height: 50px;
}

.stat-badge h3 {
    margin: 0;
    padding : 0;
    color: #636e72;
    margin-top: 5px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 600;


}
.stat-badge h4 {
    margin: 0;
    padding : 0;
    color: #636e72;
    text-transform: uppercase;
}

.stat-badge-sm h3 {
    font-size:  14px !important;
    text-transform: uppercase;
    font-weight: 100;
}
.stat-badge-sm h4 {
    font-size:  14px !important;
    font-weight: bold;
}




.stat-badge .stat-badge-sm {
    border-left: 1px solid #fff;
}



.stat-badge .stat-badge-sm.no-border {
    border-width: 0;
}




.filter-accounts input, 
.filter-accounts select {
/*    background: rgba(0,0,0,.1) !important;
    border-width: 0;*/
}


.vertical-navigation {
  float: none;
  margin: auto;
  padding-top: 0px;
}


.vertical-navigation ul {
  margin-left: 0;
  padding-left: 0;
}

.vertical-navigation ul li {
  list-style: none;
  display: block;
  margin-bottom: 10px;
}



.vertical-navigation ul li:first-child{
  border-top :none;
}



.vertical-navigation ul li a {
  height: inherit;
  color: #473e5d;
  padding-top: 15px;
  text-decoration: none;
  display: block;
  padding-left: 20px;
}

.vertical-navigation ul li a span {
  font-weight: 400;
  display: block;
  *font-weight: 600;
  text-align: center;
  vertical-align: middle;
  height: inherit;
}

.vertical-navigation ul li a i {
  display: block;
  text-align: center;
  vertical-align: middle;
  height: inherit;
}

.vertical-navigation ul li a i::before {
    font-size: 40px;
}

.attachments-box {
  min-height: 200px;
  border : 1px dashed #d5d8de;
  /*border-radius: 3px;*/
  overflow-y: auto;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  *display: none;
  background: #eee;
}


.attachments-box .dz-error-message{
    display: none;
}

.attachments-box .file-row.dz-error .dz-error-message{
    display: block;
}



.documents-viewer {
    background: #eee;
    min-height: 450px;
}

.documents-viewer .files-list ul {
    margin: 0;
    margin-top: 50px;
    padding: 0;
    list-style: none;
}


.documents-viewer .files-list ul li {
    margin-bottom: 10px;
}

.documents-viewer .files-list ul li .icon {
    font-size: 20px;
}





.file-rendering-container {
    height: auto;
    padding-bottom: 10px;
}

.file-rendering-container canvas {
  margin auto;
}


.file-rendering-container .section-heading  {
  color : #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 40px; 
  border-bottom : 1px solid #e5e5e5;
}

.file-rendering-container .controls  {
  color : #666;
  list-style: none;
  margin: 0;
  padding: 0;
}

.file-rendering-container .controls li {
  display: inline-block;
  height: 20px;
}

.file-rendering-container .controls li i{
  height: inherit;
  vertical-align: bottom;
  display: inline-block;
  cursor: pointer;
}

.file-rendering-container .controls li i::before {
  font-size: 20px;
  line-height: 20px;
}

.file-rendering-container .controls li span{
  height: inherit;
  line-height: 15px;
  display: inline-block;
}

.file-rendering-container .controls li input{
  width: 50px; 
  height: 25px;
   background: rgba(0, 0, 0, 0.05);
   border-width: 0px; 
   border-radius: 2px;
   padding: 4px;
}

.file-rendering-section .section-body {
    height: 380px;
    overflow : auto;
}

#file-container {
    background: #fff;
}


.account-documents-list{
    padding-left: 0;
    list-style: none;
}

.account-documents-list ul {
    list-style: none;

}

.account-documents-list ul {
    padding-left: 10px;
    margin-left: 10px;
}


.table.no-padding > tbody > tr > td, 
.table.no-padding > tbody > tr > th, 
.table.no-padding > tfoot > tr > td, 
.table.no-padding > tfoot > tr > th, 
.table.no-padding > thead > tr > td, 
.table.no-padding > thead > tr > th {
    padding: 0px;

}


.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #3a3b69;
    border-color: #3a3b69;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #3a3b69;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}


